# Sesi Pertama Hacktiv8 By Vincent Tanaka

In [1]:
print(8)
print(type(8))

8
<class 'int'>

In [11]:
print('')
print(type(''))

<class 'str'>

In [12]:
a = 300
print (a)

300

In [17]:
a = b = c = 300
print(a,b,c)

300 300 300

In [1]:
nama = "Hacktiv8"
Age = 20
has_laptops = True
print(nama,Age,has_laptops)
print(type(nama),type(Age),type(has_laptops))

Hacktiv8 20 True
<class 'str'> <class 'int'> <class 'bool'>

In [6]:
nama = "hacktiv8"
print ("program yang saya ikuti dinamakan " + nama)

program yang saya ikuti dinamakan hacktiv8

In [8]:
division = 10/2
print (division)
print(type(division))

5.0
<class 'float'>

In [10]:
# + Operators
s = "foo"
t = "bar"
u = "baz"

print(s + t)

print(s + t + u)

print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [14]:
s = 'Hacktiv8'
s * 4

'Hacktiv8Hacktiv8Hacktiv8Hacktiv8'

In [18]:
#in operator untunk mengecek apakah ada value tersbut didalam
print(s in 'That Hacktiv8 for us')

True

In [21]:
#Case Conversion
s = 'HackTIV8'

#Captialize 
print(s.capitalize())

#Lower
print(s.lower())

#Swapcase
print(s.swapcase())

#Title
print(s.title())

#Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [1]:
a = [1,'2','3','4','5']

print(a)
print(a[0])
print(a[-4])
print(type(a[0]))
print(a[2:4])

[1, '2', '3', '4', '5']
1
2
<class 'int'>
['3', '4']

In [6]:
a = ['goo','bar','baz']
b = ['baz','qux','bar']

print(a)
a == b

['goo', 'bar', 'baz']

False

In [9]:
a = ['foo','bar','baz','qux','quux','corge']

print(a[1:4])

a[1:4] = [1.1,2.2,3.3,4.4,5.5,'quux','corge']

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge', 'quux', 'corge']

In [13]:
a = ('foo','bar','baz','qux','quux','corge')
print(a)
(v1,v2,v3,v4)= ('foo','bar','baz','qux')
v1

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

'foo'

In [1]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minensota' : 'Twins'
}

print(MLB_team['Minensota'])

MLB_team['Kansas City'] = 'ROyals'
MLB_team
del MLB_team['Boston']
MLB_team

Twins

{'Colorado': 'Rockies', 'Minensota': 'Twins', 'Kansas City': 'ROyals'}

$E = mc^2$